@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #e6e9f0;
    --secondary: #191919;
    --alternate: rgb(220, 215, 205);

    --border: 1px solid #21212157;
    --ease: cubic-bezier(0.255, 0.655, 0.02, 0.995);
    --transition-width: width 0.64s var(--ease);
    --transition-opacity: opacity 1.2s var(--ease);
    --transition-transform: transform 1.2s var(--ease);
}

@font-face {
    font-family: "Primary";
    src: url(/fonts/AeonikProTRIAL-Regular.otf);
}

@font-face {
    font-family: "Aeonik";
    src: url(/fonts/AeonikProTRIAL-Regular.otf);
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: max(100vw / 1920 * 10);
}

body {
    font-family: "Primary";
    background-color: var(--alternate);
    color: var(--secondary);
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 20rem;
    text-transform: uppercase;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.2rem;
}

p,
li {
    font-size: 2.4rem;
    list-style: none;
}

span {
    font-size: 2.3rem;
}

a, u {
    text-decoration: none;
  }

.app {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem 0;
}


svg.trail {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9;
}

svg.trail path {
    fill: none;

    stroke: #979797;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Nav */

.nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    z-index: 50;
    color: #fff;
}

.nav_logo span{
    font-size: 4.8rem;
    text-transform: uppercase;
}

.nav_menu_button{
    background-color: var(--secondary);
    color: var(--primary);
    padding: 2rem 4rem;

    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 20rem;
    cursor: pointer;
}

.nav_menu_button_circle {
   width: 1.6rem;
   height: 1.6rem;
   border-radius: 20rem;
   background-color: greenyellow;
   animation: blink 1s linear infinite;
}

@keyframes blink {
    0%, 100% {background-color:#3A5743;}
    50% {background-color: #ADE25D;}
}

/* Menu */

.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--alternate);
    color: var(--secondary);
    padding-top: 6rem;
    z-index: 40;
}

.menu_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding: 6rem;
}

.menu_row{
    display: flex;
    justify-content: space-between;
}

.menu_row:nth-child(1){
    align-items: flex-start;
    padding-left: 42rem;
    padding-right: 16rem;
}

.menu_row_info{
    display: flex;
    justify-content: space-between;
    gap: 12rem;
}

.menu_row:nth-child(2){
    align-items: flex-end;
}

.menu_row_pages h2{
    font-size: 5.8rem;
    line-height: 1.5;
}

.menu_row_pages h2 a{
    color: var(--secondary);
}

.menu_row_info span{
    line-height: 1.2;
    font-size: 2.2rem;
    display: block;
}

.menu_row_title h1{
    font-size: 25rem;
    text-transform: uppercase;
    line-height: 0.6;
}

.menu_row_media {
    width: 50rem;
    height: 30rem;
    background-color: var(--secondary);
    padding: 2rem;
}

.menu_row_media video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_row_title{
    display: inline-flex;
}

/* Section */

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.section_wrapper {
    display: flex;
    height: inherit;
}

.section_title {
    position: absolute;
    top: 21rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    overflow: hidden;
    font-weight: 900;
}

.section_title h2,
.section_title span {
    display: inline-flex;
    font-size: 12rem;
    font-family: "Aeonik";
}

.section_col {
    position: relative;
    flex: 1;
    height: inherit;
    overflow: hidden;
}

.section_col_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    z-index: 10;
}

.section_col_image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
}

.section_col_image img{
    z-index: 2;
}

.section_col:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.section_col_left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24rem;
    padding: 2rem;
}

.section_col_left_text h4,
.section_col_left_text span {
    font-size: 4rem;
}

.section_col_left_cta {
    display: inline-flex;
    gap: 1.6rem;
    cursor: pointer;
}

.section_col_left_cta a{
    color: var(--secondary);
}

.section_col_right {
    flex: 1;
    padding: 2rem;
}

/* About */

.about {
    position: relative;
    width: 100%;
    height: 100%;
}

.about_wrapper {
    padding: 6.4rem;
}

.about_paragraph {
    padding-top: 80vh;
    padding-left: 80rem;
    padding-bottom: 40rem;
}

.about_paragraph_text,
.about_paragraph_text span {
    color: var(--primary);
    font-size: 8rem;
    line-height: 1.2;
}

.about_paragraph_text::before {
    content: 'Info';
    border: 1px solid var(--primary);
    border-radius: 20rem;
    padding: 0.4rem 1.2rem;
    margin-right: 1.6rem;
    font-size: 4rem;
}

.about_background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about_background_image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    scale: 1.1;
}

/* Slider */

#main-slider-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    color: oldlace;
}

#main-slider-container>h1 {
    font-size: 200px;
    padding: 50px;
}

.slider-container {
    position: absolute;
    display: flex;
    overflow: hidden;
    height: 100vh;
    min-width: 100%;
    width: fit-content;
    align-items: flex-start;
}

.slider-container>div {
    width: 600px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

.slider-title h1{
    padding-left: 30px;
}

.slider-container>div:nth-child(1) {
    background-size: cover;
    width: 700px;
    border-right: var(--border);
}

.slider-container>div:nth-child(2) {
    background-size: cover;
    width: 150px;
}

.slider-container>div:nth-child(3) {
    background-size: cover;
    width: 1500px;
}

.slider-container>div:nth-child(4) {
    background-size: cover;
    width: 150px;
}

.slider-container>div:nth-child(5) {
    background-size: cover;
    width: 1500px;
}


.slider-container img {
    padding: 2rem;
}

.w-single_tab_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    transform: rotate(-90deg);
    transform-origin: left;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.w-single_tab_field {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 200rem;
}

/* Slider Mobile */

.frame{
    position: relative;
    display: none;
    height: 100vh;
}

.w-intro{
    width: 60vw;
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}

.w-single{
    position: relative;
    display: flex;
}

.w-single:nth-child(2) .w-single_tab,
.w-single:nth-child(3) .w-single_tab,
.w-single:nth-child(4) .w-single_tab,
.w-single:nth-child(5) .w-single_tab{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
}

.w-single_tab{
    width: 20rem;
    height: 100vh;
    background-color: var(--alternate);
    border-left: 1px solid var(--secondary);
}

.w-single_tab_container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    transform: rotate(-90deg);
    transform-origin: left;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.w-single_tab_field{
    background-color: var(--secondary);
    color: var(--primary);
    padding: 2rem;
    border-radius: 200rem;
}

.w-single_gallery{
    background-color: var(--secondary);
    display: flex;
    overflow: hidden;
}

.w-single_gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 0.8;
}


/* Tab */

.--mobile {
    display: none;
}

.tab {
    position: relative;
    width: 100%;
    height: 100vh;
    border: var(--border);
    border-radius: 3.2rem;
    overflow: hidden;
    margin-top: 25px;
    z-index: 21;
}

.tab_header {
    border-bottom: var(--border);
}

.tab_header_list {
    display: flex;
    width: 100%;
}

.tab_header_list_item {
    font-size: 3.2rem;
    padding: 2rem;
}

.tab_col_title h2 {
    font-size: 6rem;
    text-transform: uppercase;
}

.tab_col_number h1 {
    font-size: 48rem;
    line-height: 0.8;
    margin: 0;
}

.tab_header_list_item:nth-child(1) {
    flex: 1;
    border-right: var(--border);
}

.tab_header_list_item:nth-child(2) {
    flex: 0.25;
    border-right: var(--border);
}

.tab_header_list_item:nth-child(3) {
    flex: 1;
    border-right: var(--border);
    text-align: right;
}

.tab_header_list_item:nth-child(4) {
    flex: 0.25;
}

.tab_container {
    display: flex;
    width: 100%;
    height: inherit;
}

.tab_col {
    position: relative;
    width: 60rem;
    border-right: var(--border);
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    transition: var(--transition-width);
    overflow: hidden;
}

.tab_col:last-child {
    border: none;
}

/* Active state tab for animation */

.tab_col.active {
    width: 200rem;
    transition: var(--transition-width);
    transform-origin: left;
}

.tab_col.active .tab_col_media {
    opacity: 1;
    transition: var(--transition-opacity);
}

.tab_col_media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;

    transition: var(--transition-opacity);
}

.tab_col_media::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: var(--primary);
    opacity: 0.4;
}

img.tab_col_image {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-fit: left bottom;
}

.tab_col_caption {
    text-align: center;
    width: 24rem;
}

.tab_col_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #E5E3DB;
    color: var(--secondary);
    z-index: 1;
    height: 100%;
    padding-top: 10rem;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.footer_wrapper {
    padding: 2.5rem;
}

.footer_row {
    display: flex;
    justify-content: space-between;
}

.footer_row_col {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footer_title h1 {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: 17rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.footer_list {
    display: flex;
    gap: 2.5rem;
}

.footer_list li {
    cursor: pointer;
    font-size: 2.5rem;
    list-style: none;
    z-index: 21;
}

/* Responsive */
@media screen and (max-width: 768px) {
    html {
        font-size: calc(100vw / 768 * 10);
        overflow-x: hidden;
    }

    svg.trail path {
        display: none;
    }

    .trail{
        display: none;
    }

    span {
        font-size: 3.2rem;
    }

    .menu_row_info span{
        font-size: 2.4rem;
    }
    
    .menu_row_title h1{
        font-size: 14.5rem;
    }

    .menu_row_pages h2 {
        font-size: 5.8rem;
    }

    .menu{
        padding-top: 18rem;
    }

    .menu_row:nth-child(1){
        padding-left: 0;
        padding-right: 0;
    }

    .menu_row_info{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .menu_row_media{
        display: none;
    }

    .nav_menu_button{
        margin-top: 3rem;
    }

    .section {
        height: 100%;
    }

    .section_title span {
        color: #000;
        font-size: 8rem;
    }

    .section_wrapper {
        flex-direction: column;
        padding-top: 32rem;
    }

    .section_col {
        flex-direction: column;
    }

    .about_paragraph {
        padding-left: 0;
    }

    .about_background_image {
        height: 100%;
    }

    .tab_col_number h1 {
        font-size: 24rem;
    }

    .--desktop {
        display: none;
    }

    .--mobile {
        display: block;
    }

    .tab {
        height: 100%;
    }

    .tab_header_list_item:nth-child(1) {
        flex: 1;
    }

    .tab_container {
        display: flex;
        flex-direction: column;
    }

    .tab_col {
        width: 100%;
        height: calc(25vh - 3.2rem);
        flex-direction: row;
        align-items: flex-end;
        padding: 2rem;
        border-right: none;
        border-bottom: var(--border);
    }

    .tab_col_media {
        position: relative;
        left: 0;
        top: 0;
        width: 15rem;
        height: 20rem;
        z-index: -1;
        opacity: 1;
        margin-right: 3rem;
    }

    .tab_col_title {
        flex: 1;
        align-items: flex-start;
    }

    .tab_col_title h2 {
        margin-bottom: 2rem;
    }

    .tab_col_number {
        flex: 0.5;
        text-align: right;
    }

    .footer_list {
        display: block;
        padding: 0;
    }

    .footer_title h1 {
        font-size: 13rem;
    }

    main {
        width: 100%;
        display: block;
    }

    .header {
        background-color: var(--primary);
        mix-blend-mode: unset;
        color: var(--secondary);
        border-bottom: 1px solid var(--secondary);
    }

    .header_role {
        display: none;
    }

    .header_status {
        display: none;
    }

    #main-slider-container {
        display: none;
    }

    .frame{
        margin-top: 40px;
        position: relative;
        display: block;
        height: 100%;
    }

    .frame h1{
        font-size: 14rem;
    }

    .frame h2{
        font-size: 3.2rem;
    }

    .frame h3{
        font-size: 2.4rem;
    }

    .w-intro{
        width: 100%;
        height: 50vh;
    }

    .w-single{
        display: block;
    }

    .w-single:nth-child(2) .w-single_tab,
    .w-single:nth-child(3) .w-single_tab,
    .w-single:nth-child(4) .w-single_tab,
    .w-single:nth-child(5) .w-single_tab
    {
        top: 20rem;
    }

    .w-single_tab{
        width: 100%;
        height: 17rem;
        border-left: unset;
        border-top: 1px solid var(--secondary);
        border-bottom: 1px solid var(--secondary);
    }

    .w-single_tab_container{
        position: relative;
        left: unset;
        transform: unset;
        bottom: unset;
        padding: 2rem;
    }

    .w-single_gallery{
        display: block;
    }
}